* {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center center;
}

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30vh;
  transition: 0.3s;
}

.logo {
  align-items: center;
  text-align: left;
  margin-left: 10%;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 5em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}

.menu {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.menu li {
  margin: 5px;
  padding: 5px;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
  }
}

#linha-horizontal {
  width: 1fr;
  padding: 1px;
  margin: 50px;
  border-top: 1px;
  box-shadow: 12px 3px #262626;
}

.img {
  width: 80%;
  height: 80%;
  max-zoom: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

img:hover {
  opacity: 0.7;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 3%;
  flex-grow: 1;
  flex-basis: 16%;
}

.product-card {
  flex: 1 16%;
}

.product-info {
  width: 300px;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  box-shadow: 1px 1px 1px #262626;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#product-info {
  transition: 0.3s;
}

#cart {
  margin-top: 5%;
  /*filter: invert();*/
  transform: scaleX(-1);
  width: 30px;
  height: 30px;
}

.about-us {
  display: flex;
  align-items: center;
  padding: 2%;
  margin: 3%;
  box-shadow: 1px 1px 1px #262626;
  text-align: justify;
}

@media (max-width: 600px) {
  .about-us {
    text-align: justify;
    flex-wrap: wrap;
    flex-direction: column;
    }
}

.viuh {
  width: 120px;
  margin: 10%;
  max-zoom: 100%;
}


#txt-au {
  padding-bottom: 5px;
  
}

.txt-au {
  padding: 5%;
  text-align: justify;
  flex-wrap: wrap;
}
 
footer {
  padding: 2%;
  display: flex;
  justify-content: center;
  margin: 22px;
  display: flex;
  align-content: center;
  margin-left: 5%;
}
