* {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 17%;
  transition: 0.3s;
}

.logo {
  text-align: center;
  margin: 2%;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 5em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
}

p {
  font-weight: bold;
  flex-wrap: wrap;
  text-align: center;
}

.menu {
  display: flex;
}

.menu li {
  font-weight: bold;
  flex-wrap: wrap;
  margin: 6px;
  padding: 5px;
}

h3 {
  font-size: 2em;
}

.intro {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: 5%;
  text-align: left;
}

#intro {
  margin: 1%;
  text-align: justify;
  flex-wrap: wrap;
  text-align: left;
}

@media (max-width: 600px) {
  #intro {
    text-align: justify;
  }
}

#linha-horizontal {
  width: 1fr;
  padding: 1px;
  margin: 50px;
  border-top: 1px;
  box-shadow: 12px 3px #262626;
}

.img {
  width: 280px;
  height: 280px;
  max-zoom: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

img:hover {
  opacity: 0.7;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 3%;
  flex-grow: 1;
  flex-basis: 16%;
}

.product-card {
  flex: 1 16%;
}

.product-info {
  width: 280px;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  box-shadow: 1px 1px 1px #262626;
  max-zoom: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#product-info {
  transition: 0.3s;
}

#cart {
  filter: invert();
  width: 30px;
}

.about-us {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 3%;
  font-weight: bold;
  box-shadow: 1px 1px 1px #262626;
}

.viuh {
  width: 120px;
  margin: 10px;
  max-zoom: 100;
}

#txt-au {
  padding-bottom: 5px;
}

.txt-au {
  padding: 5%;
  text-align: justify;
  flex-wrap: wrap;
  text-align: left;
}

footer {
  padding: 2%;
  background: #000;
  display: flex;
}

#footer {
  margin: 22px;
}
